/* Super-quick-dirty-basic CSS for the purpose of our demo */

html {
    font-family: 'Merriweather', serif;
}

.no-js .no-js-hide {
    display: none;
}

body, .overlay {
    padding: 1em
}

/*Overlay styles*/

.overlay {
    background: #004889;
    color: white;

    position: fixed;
    left: 0;
    right: 0;
    top : 0;
    bottom: 0;

    transition: all 0.8s ease-in-out;
}

.overlay-closed {
    transform: translateY(100vh);
}

.overlay-open {
    transform: translateY(0vh);
}
