/* Super-quick-dirty-basic CSS for the purpose of our demo */

html {
    font-family: 'Merriweather', serif;
}

.no-js .no-js-hide {
    display: none;
}

.content {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

.console {
    background: #00264d;
    padding: 2rem;
    min-height: 8rem;
}

.console__text {
    color: #eee0b3;
    margin: 0;
    font-size: 0.9rem;
}

.console__text + .console__text {
    margin-top: 1rem;
}

.console__text--title {
    font-size: 1.2rem;
}
